section {
    
    display: block;
    max-width: 90%;
    border-style: dashed;
    border-color: rgb(160, 160, 160);
    border-width: 2px;
    padding: 25px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: "Aaux next thin";
    border-radius: 10%;
  


}









