body {
    background-color: #352d39; /* Dark background color */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#loading-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6d435a;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-text {
    font-size: 18px;
    color: #b1ede8;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 40px auto;
    align-items: center;
}

.question-box {
    position: relative;
    padding: 20px;
    background-color: #352d39; /* Darker box color */
    border: 3px solid #b1ede8; /* Lighter border */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    margin: 10px 0;
}

.question-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    border-color: #ff6978; /* Brighter neon color on hover */
}

.question {
    font-size: 18px;
    color: #ff6978; /* Brighter color for the questions */
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.answer {
    font-size: 16px;
    color: #b1ede8; /* Lighter color for the answers */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    display: none;
    transition: all 0.3s ease;
    animation: fadeIn 0.5s;
}

.headline {
    font-size: 28px;
    color: #ff6978; /* You can adjust the color if needed */
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.linked-image {
    max-width: 100%; /* Makes the image responsive */
    border-radius: 15px; /* Adds rounded corners, if desired */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
    transition: all 0.3s ease; /* Optional, adds transition effect */
}

.linked-image:hover {
    transform: scale(1.02); /* Optional, enlarges image slightly on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* Increases shadow on hover */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}